<div class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
    <div class="col-xl-6 col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="ms-panel ms-panel-fh">
              <div class="ms-panel-header">
                <h6>Edit Cuisine Form</h6>
              </div>
              <div class="ms-panel-body">
                <form class="needs-validation clearfix"  novalidate [formGroup]="editcuisineForm" >
                  <div class="form-row">
                    <div class="col-xl-6 col-md-12 mb-3">
                      <label for="validationCustom27">Cuisine Name</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="validationCustom27" formControlName="cuisineName">
                        <div class="invalid-feedback">
                          Please provide Cuisine Name
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary w-100 d-block" type="submit" (click) ="onupdateCuisine()"> Update </button>
                </form>
              </div>
            </div>
          </div> 
  </div>