<div class="ms-panel">
    <div class="ms-panel-header">
      <h6>Restuarants</h6>
    </div>
    <div class="ms-panel-body">
      <div class="table-responsive">
        <!-- <table id="data-table-4" class="table w-100 thead-primary"></table> -->
        <table  class="table w-100 thead-primary">
          <thead>
            <tr>
              <th>ownerName</th>
              <th>RestuarantName</th>
              <th>mobile Number</th>
              <!-- <th>User Name </th> -->
              <th>Email id</th>
              <th>City</th>
              <!-- <th>activationStatus</th>
              <th>Status</th> -->
              <th>Approve</th>
              <th>Reject</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let restuarant of restuarantsList">
              <!-- <td class="text-center"><img class="uploaded-img  w-10 text-center" src="{{ad.mainUrl}}" alt="Image"
                  name="Image"></td> -->
               <td>{{restuarant?.name}}</td> 
              <td>{{restuarant?.restaurantName}}</td>
              <td>{{restuarant?.contactNumber}}</td>
              <!-- <td>{{restuarant?.username}}</td> -->
              <td>{{restuarant?.email}}</td>
              <td>{{restuarant?.city}}</td>
              <!-- <td>{{restuarant?.activationStatus}}</td>
              <td>{{restuarant?.status}}</td>
           -->
                <!-- <td class="text-center">{{request.transactionStatus}}</td>
                <td>
                    <span class="badge badge-success" *ngIf="ad.paymentStatus == 'Confirmed'">
                      {{ad.paymentStatus}}
                    </span>
                    <span class="badge badge-primary" *ngIf="ad.paymentStatus == 'Pending'">
                      {{ad.paymentStatus}}
                    </span>
                    <span class="badge badge-warning" *ngIf="ad.paymentStatus == 'Cancelled'">
                      {{ad.paymentStatus}}
                    </span>
                    <span class="badge badge-danger" *ngIf="ad.paymentStatus == 'Rejected'">
                      {{ad.paymentStatus}}
                    </span>
                  </td>
                  <td>{{ad.PromotionStatus}}</td> -->
                  <td class="text-center">
                    <button class="btn btn-raised btn-info" type="button" style="cursor:pointer;"
                      (click)="confirmRequest(restuarant._id)">
                      <em class="fa fa-check"></em>
                    </button>
                  </td>
              <td class="text-center">
                <button class="btn btn-raised btn-danger" type="button" style="cursor:pointer;"
                  (click)="rejectRequest(restuarant._id)">
                  <em class="fa fa-times"></em>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>