<aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left">
    <!-- Logo -->
    <div class="logo-sn ms-d-block-lg">
      <a class="pl-0 ml-0 text-center" routerLink="/">
        <!-- <img src="assets/img/costic/costic-logo-216x62.png" alt="logo"> -->
        <img src="assets/img/logo.jpeg" style="width: 216px; height: 62px;" alt="logo">
      </a>
    </div>
    <!-- Navigation -->
    <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">
      <!-- Dashboard -->
      <!-- <li class="menu-item">
        <a href="#" class="has-chevron" data-toggle="collapse" data-target="#dashboard" aria-expanded="false" aria-controls="dashboard"> <span><i class="material-icons fs-16">dashboard</i>Dashboard </span>
        </a>
        <ul id="dashboard" class="collapse" aria-labelledby="dashboard" data-parent="#side-nav-accordion">
          <li> <a routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"></a>
          </li>
        </ul>
      </li> -->
      <li class="menu-item">
        <a routerLink="/dashboard" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> <span><i class="fas fa-clipboard-list fs-16"></i>Dashboard</span>
        </a>
      </li>
      <!-- /Dashboard -->
      <!--Banner -->
      <li class="menu-item">
         <a routerLink="/banners/home" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> <span><i class="fas fa-clipboard-list fs-16"></i>Banner</span>
         </a>
      </li>
       <!--/Banner -->
      <!-- Restuarants -->
      <li class="menu-item">
        <a class="has-chevron" data-toggle="collapse" data-target="#restuarants" aria-expanded="false" aria-controls="invoice"> <span><i class="fas fa-file-invoice fs-16"></i>Restuarants </span>
        </a>
        <ul id="restuarants" class="collapse" aria-labelledby="invoice" data-parent="#side-nav-accordion">
          <li> <a routerLink="/restaurants/home" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">View Restuarants</a>
          </li>
           <li> <a routerLink="/restaurants/promotions" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Promotions</a>
          </li>
        </ul>
      </li>
      <!--/Restuarants-->
      <!--cuisines -->
      <li class="menu-item">
        <a routerLink="/cuisines/homecuisine" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> <span><i class="fas fa-clipboard-list fs-16"></i>Cuisine</span>
        </a>
     </li>
      <!--/cuisines -->
      <!--orders -->
      <!-- <li class="menu-item">
        <a routerLink="/orders/homeorder" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> <span><i class="fas fa-clipboard-list fs-16"></i>Orders</span>
        </a>
     </li> -->
      <!--/orders -->
      <!--pricing -->
      <li class="menu-item">
        <a routerLink="/pricing/homepricing" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> <span><i class="fas fa-clipboard-list fs-16"></i>Pricing</span>
        </a>
     </li>
      <!--/pricing -->
      <!--tags -->
      <li class="menu-item">
        <a routerLink="/tags/hometag" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> <span><i class="fas fa-clipboard-list fs-16"></i>Tags</span>
        </a>
     </li>
      <!--/tags -->
      <!--brands -->
      <li class="menu-item">
        <a routerLink="/brands/homebrand" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> <span><i class="fas fa-clipboard-list fs-16"></i>Brands</span>
        </a>
     </li>
      <!--/brands -->
      <!--topCategories -->
      <li class="menu-item">
        <a routerLink="/topCategories/hometopCategories" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> <span><i class="fas fa-clipboard-list fs-16"></i>TopCategories</span>
        </a>
     </li>
      <!--/topCategories -->
     <!--users -->
     <li class="menu-item">
      <a routerLink="/users/homeusers" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> <span><i class="fas fa-clipboard-list fs-16"></i>Users</span>
      </a>
   </li>
    <!--/users -->
       <!--deliveryBoy -->
       <li class="menu-item">
        <a routerLink="/deliveryboy/homedeliveryBoy" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> <span><i class="fas fa-clipboard-list fs-16"></i>DeliveryBoy</span>
        </a>
     </li>
      <!--/deliveryBoy -->
      



      <!-- product -->
      <!-- <li class="menu-item">
        <a href="#" class="has-chevron" data-toggle="collapse" data-target="#product" aria-expanded="false" aria-controls="product"> <span><i class="fa fa-archive fs-16"></i>Menus </span>
        </a>
        <ul id="product" class="collapse" aria-labelledby="product" data-parent="#side-nav-accordion">
          <li> <a routerLink="/menu-catalogue" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Menu Catalogue</a>
          </li>
          <li> <a routerLink="/menu-list" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Menu List</a>
          </li>
          <li> <a routerLink="/menu-grid" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Menu Grid</a>
          </li>
          <li> <a routerLink="/add-product" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Add Product</a>
          </li>
          <li> <a routerLink="/product-detail" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Product Detail</a>
          </li>
        </ul>
      </li> -->
      <!-- product end -->
      <!-- orders -->
      <!-- <li class="menu-item">
        <a routerLink="/order" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> <span><i class="fas fa-clipboard-list fs-16"></i>Orders</span>
        </a>
      </li> -->
      <!-- orders end -->
      <!-- restaurants -->
      <!-- <li class="menu-item">
        <a routerLink="/restaurant-list" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> <span><i class="fa fa-tasks fs-16"></i>Restaurants List</span>
        </a>
      </li> -->
      <!-- restaurants end -->
      <!-- Invoice -->
      <!-- <li class="menu-item">
        <a href="#" class="has-chevron" data-toggle="collapse" data-target="#invoice" aria-expanded="false" aria-controls="invoice"> <span><i class="fas fa-file-invoice fs-16"></i>Invoice </span>
        </a>
        <ul id="invoice" class="collapse" aria-labelledby="invoice" data-parent="#side-nav-accordion">
          <li> <a routerLink="/invoice-detail" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Invoice Detail</a>
          </li>
          <li> <a routerLink="/invoice-list" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Invoice List</a>
          </li>
        </ul>
      </li> -->
      <!-- Invoice end -->
      <!-- customers-->
      <!-- <li class="menu-item">
        <a href="#" class="has-chevron" data-toggle="collapse" data-target="#customer" aria-expanded="false" aria-controls="customer"> <span><i class="fas fa-user-friends fs-16"></i>Customers </span>
        </a>
        <ul id="customer" class="collapse" aria-labelledby="customer" data-parent="#side-nav-accordion">
          <li> <a routerLink="/customer-review" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Customers Review</a>
          </li>
          <li> <a routerLink="/customer-list" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Customers List</a>
          </li>
          <li> <a routerLink="/social-activity" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Social Activity</a>
          </li>
        </ul>
      </li> -->
      <!-- Customers  end -->
      <!-- sales -->
      <!-- <li class="menu-item">
        <a routerLink="/sales" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> <span><i class="fa fa-briefcase fs-16"></i>Sales</span>
        </a>
      </li> -->
      <!-- sales end  -->
      <!-- <li class="menu-item">
        <a routerLink="/widgets" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> <span><i class="material-icons fs-16">widgets</i>Widgets</span>
        </a>
      </li> -->
      <!-- Basic UI Elements -->
      <!-- <li class="menu-item">
        <a href="#" class="has-chevron" data-toggle="collapse" data-target="#basic-elements" aria-expanded="false" aria-controls="basic-elements"> <span><i class="material-icons fs-16">filter_list</i>Basic UI Elements</span>
        </a>
        <ul id="basic-elements" class="collapse" aria-labelledby="basic-elements" data-parent="#side-nav-accordion">
          <li> <a routerLink="/accordions" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Accordions</a>
          </li>
          <li> <a routerLink="/alerts" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Alerts</a>
          </li>
          <li> <a routerLink="/buttons" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Buttons</a>
          </li>
          <li> <a routerLink="/breadcrumbs" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Breadcrumbs</a>
          </li>
          <li> <a routerLink="/badges" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Badges</a>
          </li>
          <li> <a routerLink="/cards" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Cards</a>
          </li>
          <li> <a routerLink="/progress-bars" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Progress Bars</a>
          </li>
          <li> <a routerLink="/preloaders" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Pre-loaders</a>
          </li>
          <li> <a routerLink="/pagination" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Pagination</a>
          </li>
          <li> <a routerLink="/tabs" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Tabs</a>
          </li>
          <li> <a routerLink="/typography" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Typography</a>
          </li>
        </ul>
      </li> -->
      <!-- /Basic UI Elements -->
      <!-- Advanced UI Elements -->
      <!-- <li class="menu-item">
        <a href="#" class="has-chevron" data-toggle="collapse" data-target="#advanced-elements" aria-expanded="false" aria-controls="advanced-elements"> <span><i class="material-icons fs-16">code</i>Advanced UI Elements</span>
        </a>
        <ul id="advanced-elements" class="collapse" aria-labelledby="advanced-elements" data-parent="#side-nav-accordion">
          <li> <a routerLink="/draggable" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Draggables</a>
          </li>
          <li> <a routerLink="/sliders" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Sliders</a>
          </li>
          <li> <a routerLink="/modals" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Modals</a>
          </li>
          <li> <a routerLink="/rating" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Rating</a>
          </li>
          <li> <a routerLink="/tour" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Tour</a>
          </li>
          <li> <a routerLink="/cropper" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Cropper</a>
          </li>
          <li> <a routerLink="/range-sliders" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Range Slider</a>
          </li>
        </ul>
      </li> -->
      <!-- /Advanced UI Elements -->
      <!-- <li class="menu-item">
        <a routerLink="/animation" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> <span><i class="material-icons fs-16">format_paint</i>Animations</span>
        </a>
      </li> -->
      <!-- Form Elements -->
      <!-- <li class="menu-item">
        <a href="#" class="has-chevron" data-toggle="collapse" data-target="#form-elements" aria-expanded="false" aria-controls="form-elements"> <span><i class="material-icons fs-16">input</i>Form Elements</span>
        </a>
        <ul id="form-elements" class="collapse" aria-labelledby="form-elements" data-parent="#side-nav-accordion">
          <li> <a routerLink="/form-elements" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Form Elements</a>
          </li>
          <li> <a routerLink="/form-layouts" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Form Layouts</a>
          </li>
          <li> <a routerLink="/form-validation" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Form Validation</a>
          </li>
          <li> <a routerLink="/form-wizard" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Form Wizard</a>
          </li>
        </ul>
      </li> -->
      <!-- /Form Elements -->
      <!-- Charts -->
      <!-- <li class="menu-item">
        <a href="#" class="has-chevron" data-toggle="collapse" data-target="#charts" aria-expanded="false" aria-controls="charts"> <span><i class="material-icons fs-16">equalizer</i>Charts</span>
        </a>
        <ul id="charts" class="collapse" aria-labelledby="charts" data-parent="#side-nav-accordion">
          <li> <a routerLink="/chartjs" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Chart JS</a>
          </li>
          <li> <a routerLink="/morris-chart" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Morris Chart</a>
          </li>
        </ul>
      </li> -->
      <!-- /Charts -->
      <!-- Tables -->
      <!-- <li class="menu-item">
        <a href="#" class="has-chevron" data-toggle="collapse" data-target="#tables" aria-expanded="false" aria-controls="tables"> <span><i class="material-icons fs-16">tune</i>Tables</span>
        </a>
        <ul id="tables" class="collapse" aria-labelledby="tables" data-parent="#side-nav-accordion">
          <li> <a routerLink="/basic-table" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Basic Tables</a>
          </li>
          <li> <a routerLink="/data-table" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Data tables</a>
          </li>
        </ul>
      </li> -->
      <!-- /Tables -->
      <!-- Popups -->
      <!-- <li class="menu-item">
        <a href="#" class="has-chevron" data-toggle="collapse" data-target="#popups" aria-expanded="false" aria-controls="popups"> <span><i class="material-icons fs-16">message</i>Popups</span>
        </a>
        <ul id="popups" class="collapse" aria-labelledby="popups" data-parent="#side-nav-accordion">
          <li> <a routerLink="/sweet-alert" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Sweet Alerts</a>
          </li>
          <li> <a routerLink="/toast" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Toast</a>
          </li>
        </ul>
      </li> -->
      <!-- /Popups -->
      <!-- Icons -->
      <!-- <li class="menu-item">
        <a href="#" class="has-chevron" data-toggle="collapse" data-target="#icons" aria-expanded="false" aria-controls="icons"> <span><i class="material-icons fs-16">border_color</i>Icons</span>
        </a>
        <ul id="icons" class="collapse" aria-labelledby="icons" data-parent="#side-nav-accordion">
          <li> <a routerLink="/fontawesome" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Fontawesome</a>
          </li>
          <li> <a routerLink="/flaticons" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Flaticons</a>
          </li>
          <li> <a routerLink="/materialize" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Materialize</a>
          </li>
        </ul>
      </li> -->
      <!-- /Icons -->
      <!-- Maps -->
      <!-- <li class="menu-item">
        <a href="#" class="has-chevron" data-toggle="collapse" data-target="#maps" aria-expanded="false" aria-controls="maps"> <span><i class="material-icons fs-16">map</i>Maps</span>
        </a>
        <ul id="maps" class="collapse" aria-labelledby="maps" data-parent="#side-nav-accordion">
          <li> <a routerLink="/google-map" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Google Maps</a>
          </li>
          <li> <a routerLink="/vector-map" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Vector Maps</a>
          </li>
        </ul>
      </li> -->
      <!-- /Maps -->
      <!-- <li class="menu-item">
        <a href="#" class="has-chevron" data-toggle="collapse" data-target="#bonuspages" aria-expanded="false" aria-controls="bonuspages"> <span><i class="material-icons fs-16">insert_drive_file</i> Bonus Pages</span>
        </a>
        <ul id="bonuspages" class="collapse" aria-labelledby="bonuspages" data-parent="#side-nav-accordion">
          <li> <a routerLink="/web-analytics" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> Web Analytics </a>
          </li>
          <li> <a routerLink="/stock-management" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Stock Management</a>
          </li>
          <li> <a routerLink="/client-management" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Client Management</a>
          </li>
        </ul>
      </li> -->
      <!-- / bonus Pages -->
      <!-- Pages -->
      <!-- <li class="menu-item">
        <a href="#" class="has-chevron" data-toggle="collapse" data-target="#pages" aria-expanded="false" aria-controls="pages"> <span><i class="material-icons fs-16">insert_drive_file</i>Pages</span>
        </a>
        <ul id="pages" class="collapse" aria-labelledby="pages" data-parent="#side-nav-accordion">
          <li class="menu-item"> <a href="#" class="has-chevron" data-toggle="collapse" data-target="#authentication" aria-expanded="false" aria-controls="authentication">Authentication</a>
            <ul id="authentication" class="collapse" aria-labelledby="authentication" data-parent="#pages">
              <li> <a routerLink="/default-login" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Default Login</a>
              </li>
              <li> <a routerLink="/modal-login" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Modal Login</a>
              </li>
              <li> <a routerLink="/default-register" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Default Registration</a>
              </li>
              <li> <a routerLink="/modal-register" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Modal Registration</a>
              </li>
              <li> <a routerLink="/lock-screen" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Lock Screen</a>
              </li>
            </ul>
          </li>
          <li> <a routerLink="/coming-soon" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Coming Soon</a>
          </li>
          <li> <a routerLink="/error-404" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Error Page</a> 
          </li>
          <li class="menu-item"> <a routerLink="/faq" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> FAQ </a>
          </li>
          <li class="menu-item"> <a routerLink="/portfolio" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> Portfolio </a>
          </li>
          <li class="menu-item"> <a routerLink="/user-profile" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> User Profile </a>
          </li>
          <li class="menu-item"> <a routerLink="/invoice" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}"> Invoice </a>
          </li>
        </ul>
      </li> -->
      <!-- /Pages -->
      <!-- Apps -->
      <!-- <li class="menu-item">
        <a href="#" class="has-chevron" data-toggle="collapse" data-target="#apps" aria-expanded="false" aria-controls="apps"> <span><i class="material-icons fs-16">phone_iphone</i>Apps</span>
        </a>
        <ul id="apps" class="collapse" aria-labelledby="apps" data-parent="#side-nav-accordion">
          <li> <a routerLink="/chat" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Chat</a>
          </li>
          <li> <a routerLink="/email" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Email</a>
          </li>
          <li> <a routerLink="/to-do-list" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">To-do List</a>
          </li>
        </ul>
      </li> -->
      <!-- /Apps -->
    </ul>
  </aside>