<div class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
    <div class="col-xl-6 col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="ms-panel ms-panel-fh">
              <div class="ms-panel-header">
                <h6>Tags Form</h6>
              </div>
              <div class="ms-panel-body">
                <form class="needs-validation clearfix"  novalidate [formGroup]="Tags" >
                  <div class="form-row">
                    <div class="col-xl-6 col-md-12 mb-3">
                      <label for="validationCustom27">Tags Name</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="validationCustom27" placeholder="Tags Name" formControlName="tag">
                        <div class="invalid-feedback">
                          Please provide Tags Name
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-xl-6 col-md-12">
                      <label for="validationCustom28">Email Address</label>
                      <div class="input-group">
                        <input type="email" class="form-control" id="validationCustom28" placeholder="Email Address" required>
                        <div class="invalid-feedback">
                          Please provide an email.
                        </div>
                      </div>
                    </div> -->
                  </div>
                  <button class="btn btn-primary w-100 d-block" type="submit" (click) ="onSaveTags()"> Save </button>
                </form>
              </div>
            </div>
          </div>
     
 
  </div>