
         <div class="ms-content-wrapper">
        <div class="row">
          <div class="col-md-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb pl-0">
                <li class="breadcrumb-item"><a routerLink="/"><i class="material-icons">home</i> Home</a></li>
                <li class="breadcrumb-item"><a href="#">Basic UI Elements</a></li>
                <li class="breadcrumb-item active" aria-current="page">Accordions</li>
              </ol>
            </nav>
          </div>
          <div class="col-md-6">
            <div class="ms-panel ms-panel-fh">
              <div class="ms-panel-header">
                <h6>Default Accordion</h6>
  
              </div>
  
              <div class="ms-panel-body">
                <div class="accordion" id="accordionExample1">
                  <div class="card">
                    <div class="card-header" data-toggle="collapse" role="button" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <span> Lorem Ipsum has been the industry standard dummy text </span>
                    </div>
  
                    <div id="collapseOne" class="collapse show" data-parent="#accordionExample1">
                      <div class="card-body">
                        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                        Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" data-toggle="collapse" role="button" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <span> Lorem Ipsum has been the industry standard dummy text</span>
                    </div>
  
                    <div id="collapseTwo" class="collapse" data-parent="#accordionExample1">
                      <div class="card-body">
                        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                        Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
  
            </div>
          </div>
  
          <div class="col-md-6">
            <div class="ms-panel ms-panel-fh">
              <div class="ms-panel-header">
                <h6>Accordion with Gap</h6>
  
              </div>
  
              <div class="ms-panel-body">
                <p class="ms-directions">Use <code>.has-gap</code> in the <code>.accordion</code></p>
                <div class="accordion has-gap ms-accordion-chevron" id="accordionExample2">
                  <div class="card">
                    <div class="card-header" data-toggle="collapse" role="button" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                      <span> Lorem Ipsum has been the industry standard dummy text </span>
                    </div>
  
                    <div id="collapseFour" class="collapse show" data-parent="#accordionExample2">
                      <div class="card-body">
                        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                        Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" data-toggle="collapse" role="button" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      <span> Lorem Ipsum has been the industry standard dummy text </span>
                    </div>
  
                    <div id="collapseFive" class="collapse" data-parent="#accordionExample2">
                      <div class="card-body">
                        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                        Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" data-toggle="collapse" role="button" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      <span> Lorem Ipsum has been the industry standard dummy text </span>
                    </div>
  
                    <div id="collapseSix" class="collapse" data-parent="#accordionExample2">
                      <div class="card-body">
                        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                        Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
  
          <div class="col-md-6">
            <div class="ms-panel ms-panel-fh">
              <div class="ms-panel-header">
                <h6>Accordion with Icon</h6>
  
              </div>
  
            <div class="ms-panel-body">
              <p class="ms-directions">Use <code>.has-icon</code> in the accordion title</p>
              <div class="accordion" id="accordionExample3">
                <div class="card">
                  <div class="card-header" data-toggle="collapse" role="button" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                    <span class="has-icon"> <i class="flaticon-email"></i> Lorem Ipsum has been the industry standard dummy text </span>
                  </div>
  
                  <div id="collapseSeven" class="collapse show" data-parent="#accordionExample3">
                    <div class="card-body">
                      Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                      Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" data-toggle="collapse" role="button" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    <span class="has-icon"> <i class="flaticon-start"></i> Lorem Ipsum has been the industry standard dummy text </span>
                  </div>
  
                  <div id="collapseEight" class="collapse" data-parent="#accordionExample3">
                    <div class="card-body">
                      Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                      Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" data-toggle="collapse" role="button" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    <span class="has-icon"> <i class="flaticon-conversation"></i> Lorem Ipsum has been the industry standard dummy text </span>
                  </div>
  
                  <div id="collapseNine" class="collapse" data-parent="#accordionExample3">
                    <div class="card-body">
                      Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                      Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            </div>
          </div>
  
          <div class="col-md-6">
            <div class="ms-panel ms-panel-fh">
              <div class="ms-panel-header">
                <h6>Accordion with Gap and Icon</h6>
  
              </div>
  
              <div class="ms-panel-body">
                <div class="accordion has-gap ms-accordion-chevron" id="accordionExample4">
                  <div class="card">
                    <div class="card-header" data-toggle="collapse" role="button" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                      <span class="has-icon"> <i class="flaticon-email"></i> Lorem Ipsum has been the industry standard dummy text </span>
                    </div>
  
                    <div id="collapseTen" class="collapse show" data-parent="#accordionExample4">
                      <div class="card-body">
                        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                        Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" data-toggle="collapse" role="button" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                      <span class="has-icon"> <i class="flaticon-start"></i> Lorem Ipsum has been the industry standard dummy text </span>
                    </div>
  
                    <div id="collapseEleven" class="collapse" data-parent="#accordionExample4">
                      <div class="card-body">
                        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                        Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" data-toggle="collapse" role="button" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                      <span class="has-icon"> <i class="flaticon-conversation"></i> Lorem Ipsum has been the industry standard dummy text </span>
                    </div>
  
                    <div id="collapseTwelve" class="collapse" data-parent="#accordionExample4">
                      <div class="card-body">
                        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
                        Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
  
        </div>
      </div>
