<div class="row">
  <div class="col text-right">
   <button class="btn btn-raised btn-danger" (click)="OnAddTags()">
     <em class="fa fa-plus"></em> &nbsp; &nbsp; Add New</button>
 </div> 
</div>
<div class="ms-panel">
    <div class="ms-panel-header">
      <h6>Tags </h6>
    </div>
    <div class="ms-panel-body">
      <div class="table-responsive">
        <!-- <table id="data-table-4" class="table w-100 thead-primary"></table> -->
        <table  class="table w-100 thead-primary">
          <thead>
            <tr>
              <th>TagName</th>
              <th>enable</th>
              <th>edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tag of TagsList">
              <!-- <td class="text-center"><img class="uploaded-img  w-10 text-center" src="{{ad.mainUrl}}" alt="Image"
                  name="Image"></td> -->
               <td>{{tag?.tag}}</td> 
              <!-- <td>{{tag?.enable}}</td> -->
              <td><div>
                <label class="ms-switch">
                  <input type="checkbox" checked>
                  <span class="ms-switch-slider round"></span>
                </label>
              </div></td>
              <td class="text-center">
                <button class="btn btn-raised btn-info" type="button" style="cursor:pointer;"
                  (click)="onEditTags(tag._id)">
                  <em class="fa fa-edit"></em>
                </button>
              </td>
          <td class="text-center">
            <button class="btn btn-raised btn-danger" type="button" style="cursor:pointer;"
              (click)="onDeleteTags(tag._id)">
              <em class="fa fa-trash"></em>
            </button>
          </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>