<div class="row">
  <div class="col text-right">
   <button class="btn btn-raised btn-danger" (click)="OnAddTopCategory()">
     <em class="fa fa-plus"></em> &nbsp; &nbsp; Add New</button>
 </div> 
</div>


<div class="ms-panel">
    <div class="ms-panel-header">
      <h6>Top Categories </h6>
    </div>
    <div class="ms-panel-body">
      <div class="table-responsive">
        <!-- <table id="data-table-4" class="table w-100 thead-primary"></table> -->
        <table  class="table w-100 thead-primary">
          <thead>
            <tr>
              <th>Id</th>
              <th>categoryName</th>
              <th>edit</th>
              <th>delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of TopCategoriesList">
              <!-- <td class="text-center"><img class="uploaded-img  w-10 text-center" src="{{ad.mainUrl}}" alt="Image"
                  name="Image"></td> -->
               <td>{{category?._id}}</td> 
              <td>{{category?.categoryName}}</td>
              <td class="text-center">
                <button class="btn btn-raised btn-info" type="button" style="cursor:pointer;"
                  (click)="onEditCategory(category._id)">
                  <em class="fa fa-edit"></em>
                </button>
              </td>
          <td class="text-center">
            <button class="btn btn-raised btn-danger" type="button" style="cursor:pointer;"
              (click)="onDeleteCategory(category._id)">
              <em class="fa fa-trash"></em>
            </button>
          </td> 
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>