<div class="ms-panel">
    <div class="ms-panel-header">
      <h6>Restuarants</h6>
    </div>
    <div class="ms-panel-body">
      <div class="table-responsive">
        <!-- <table id="data-table-4" class="table w-100 thead-primary"></table> -->
        <table  class="table w-100 thead-primary">
          <thead>
            <tr>
              <th>note</th>
              <th>deliveryAccepted</th>
              <th>paymentStatus</th>
              <th>journeyStatus </th>
              <th>deliveredBy</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orderList">
              <!-- <td class="text-center"><img class="uploaded-img  w-10 text-center" src="{{ad.mainUrl}}" alt="Image"
                  name="Image"></td> -->
               <td>{{order?.note}}</td> 
              <td>{{order?.deliveryAccepted}}</td>
              <td>{{order?.paymentStatus}}</td>
              <td>{{order?.journeyStatus}}</td>
              <td>{{order?.deliveredBy}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>