<div class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar homeClass">
    <app-side-navbar *ngIf="isVisible"></app-side-navbar>
    <main class="body-content">
        <app-top-navbar *ngIf="isVisible"></app-top-navbar> <br>
        <div class="col-md-12">      
            <router-outlet ></router-outlet>
        </div>
    </main>
    <app-quick-bar *ngIf="isVisible"></app-quick-bar>
</div>
<app-preloader></app-preloader> 


<!-- <app-preloader></app-preloader>
<router-outlet></router-outlet> -->