<div class="row">
    <div class="col text-right">
     <button class="btn btn-raised btn-danger" (click)="OnAddUser()">
       <em class="fa fa-plus"></em> &nbsp; &nbsp; Add New</button>
   </div> 
  </div>
  
  <div class="ms-panel">
      <div class="ms-panel-header">
        <h6>Users </h6>
      </div>
      <div class="ms-panel-body">
        <div class="table-responsive">
          <!-- <table id="data-table-4" class="table w-100 thead-primary"></table> -->
          <table  class="table w-100 thead-primary">
            <thead>
              <tr>
                <th>UserName</th>
                <th>User Email</th>
                <th>Contact Number</th>
                <th>address </th>
                <th>city</th>
                <th>country</th> 
                <th>state</th>
                <th>edit</th>   
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userList">
                <!-- <td class="text-center"><img class="uploaded-img  w-10 text-center" src="{{ad.mainUrl}}" alt="Image"
                    name="Image"></td> -->
                 <td>{{user?.name}}</td> 
                 <td>{{user?.email}}</td>
                <td>{{user?.contactNumber}}</td>
                <td>{{user?.address}}</td>
                <td>{{user?.city}}</td>
                <td>{{user?.country}}</td>
                <td>{{user?.state}}</td>
                <td class="text-center">
                  <button class="btn btn-raised btn-info" type="button" style="cursor:pointer;"
                    (click)="onEditUser(user._id)">
                    <em class="fa fa-edit"></em>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>