
<!-- Login Page Starts -->
<section id="login">
    <div class="container-fluid">
      <div class="row full-height-vh">
        <div class="col-md-12  logincontainer"> 
          <!-- <div class= "d-flex align-items-center justify-content-center"> -->
          <div class="card gradient-indigo-purple text-center width-600">
            <div class="card-img overlap">
              <img alt="element 06" class="mb-1" *ngIf="loginImage" src="{{loginImage}}" width="190">
            </div>
            <div class="card-body">
              <div class="card-block">
                <h2 class="white">Login</h2>
                <form [formGroup]="loginForm" >
                  <div class="form-group">
                    <div class="col-md-12">
                      <input type="email" class="form-control" name="inputEmail"   placeholder="Email"
                        formControlName="email">
                    </div>
                  </div>
  
                  <div class="form-group">
                    <div class="col-md-12">
                      <input type="password" class="form-control" name="inputPass"   placeholder="Password"
                        formControlName="password">
                    </div>
                  </div>
  
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0 ml-3">
                          <input type="checkbox" class="custom-control-input" id="rememberme" [(ngModel)]="isRememberMe"
                            [ngModelOptions]="{standalone:true}">
                          <label class="custom-control-label float-left white" for="rememberme">Remember Me</label>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="form-group">
                    <div class="col-md-12">
                      <button (click)="login()" type="submit" class="btn btn-pink btn-block btn-raised"  
                        >Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="creds">
              <h6>Demo Credentials</h6>
              <strong>Admin</strong>
              <div>Email: admin@ionicfirebaseapp.com</div>
              <div>password: 123456</div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </section>