<div class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">
    <div class="col-xl-6 col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="ms-panel ms-panel-fh">
              <div class="ms-panel-header">
                <h6>pricing  Form</h6>
              </div>
              <div class="ms-panel-body">
                <form class="needs-validation clearfix"  novalidate [formGroup]="princingForm" >
                  <div class="form-row">
                    <div class="col-xl-6 col-md-12 mb-3">
                      <label for="validationCustom26">promotionName</label>
                      <div class="input-group">
                        <input type="text" class="form-control" id="validationCustom26" placeholder="promotionName" formControlName="promotionName">
                        <div class="invalid-feedback">
                          Please provide promotionName
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-md-12 mb-3">
                        <label for="validationCustom27">promotionDescription</label>
                        <div class="input-group">
                          <input type="text" class="form-control" id="validationCustom27" placeholder="promotionDescription" formControlName="promotionDescription">
                          <div class="invalid-feedback">
                            Please provide promotionDescription
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-md-12 mb-3">
                        <label for="validationCustom28">pricePerDay</label>
                        <div class="input-group">
                          <input type="text" class="form-control" id="validationCustom28" placeholder="pricePerDay" formControlName="pricePerDay">
                          <div class="invalid-feedback">
                            Please provide pricePerDay
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 col-md-12 mb-3">
                        <label for="validationCustom29">pricePerMonth</label>
                        <div class="input-group">
                          <input type="text" class="form-control" id="validationCustom29" placeholder="pricePerMonth" formControlName="pricePerMonth">
                          <div class="invalid-feedback">
                            Please provide pricePerMonth
                          </div>
                        </div>
                      </div>
                    <!-- <div class="col-xl-6 col-md-12">
                      <label for="validationCustom28">Email Address</label>
                      <div class="input-group">
                        <input type="email" class="form-control" id="validationCustom28" placeholder="Email Address" required>
                        <div class="invalid-feedback">
                          Please provide an email.
                        </div>
                      </div>
                    </div> -->
                  </div>
                  <button class="btn btn-primary w-100 d-block" type="submit" (click) ="onSavePricing()"> Save </button>
                </form>
              </div>
            </div>
          </div>
     
 
  </div>