<div class="ms-panel">
    <div class="ms-panel-header">
      <h6>Promotions</h6>
    </div>
    <div class="ms-panel-body">
      <div class="table-responsive">
        <!-- <table id="data-table-4" class="table w-100 thead-primary"></table>  -->
        <table  class="table w-100 thead-primary">
          <thead>
            <tr>
              <th>ownerName</th>
              <th>RestuarantName</th>
              <th>mobile Number</th>
              <th>User Name </th>
              <th>Email id</th>
              <th>City</th>
              <th>activationStatus</th>
              <th>Status</th>
              <th>Approve</th>
              <th>Reject</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let promotion of PromotionList">
              <td>{{promotion?.name}}</td> 
              <td>{{promotion?.restaurantName}}</td>
              <td>{{promotion?.contactNumber}}</td>
              <td>{{promotion?.username}}</td>
              <td>{{promotion?.email}}</td>
              <td>{{promotion?.city}}</td>
              <td>{{promotion?.activationStatus}}</td>
              <td>{{promotion?.status}}</td>
         
                  <td class="text-center">
                    <button class="btn btn-raised btn-info" type="button" style="cursor:pointer;"
                      (click)="confirmRequest(promotion._id)">
                      <em class="fa fa-check"></em>
                    </button>
                  </td>
              <td class="text-center">
                <button class="btn btn-raised btn-danger" type="button" style="cursor:pointer;"
                  (click)="rejectRequest(promotion._id)">
                  <em class="fa fa-times"></em>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>