 <!-- <div class="row">
    <!-- <div class="col text-right">
      <button class="btn btn-raised btn-danger" routerLink="/banner/add">
        <em class="fa fa-plus"></em> &nbsp; &nbsp; Add New</button>
    <!-- </div>  -->
  <!--</div> -->
  <div class="ms-panel">
    <div class="ms-panel-header">
      <h6>Banners</h6>
    </div>
    <div class="ms-panel-body">
      <div class="table-responsive">
        <!-- <table id="data-table-4" class="table w-100 thead-primary"></table> -->
        <table  class="table w-100 thead-primary">
          <thead>
            <tr>
              <th> Image</th>
              <th>Banner Title</th>
              <th>Reference Message</th>
              <th>PromotionStartDate</th>
              <th>Promotion End Date</th>
              <th>Total Cost</th>
              <!-- <th>Status</th> -->
              <th>PromotionStatus</th>
              <th>Approve</th>
              <th>Reject</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ad of bannerList">
              <td class="text-center"><img class="uploaded-img  w-10 text-center" src="{{ad.mainUrl}}" alt="Image"
                  name="Image"></td>
              <td>{{ad?.bannerTitle}}</td>
              <td>{{ad?.referenceMessage}}</td>
              <td>{{ad?.PromotionStartDate|date}}</td>
              <td>{{ad?.PromotionEndDate|date}}</td>
              <td>{{ad?.totalCost}}</td>
          
                <!-- <td class="text-center">{{request.transactionStatus}}</td>-->
                <!-- <td>
                    <span class="badge badge-success" *ngIf="ad.paymentStatus == 'Confirmed'">
                      {{ad.paymentStatus}}
                    </span>
                    <span class="badge badge-primary" *ngIf="ad.paymentStatus == 'Pending'">
                      {{ad.paymentStatus}}
                    </span>
                    <span class="badge badge-warning" *ngIf="ad.paymentStatus == 'Cancelled'">
                      {{ad.paymentStatus}}
                    </span>
                    <span class="badge badge-danger" *ngIf="ad.paymentStatus == 'Rejected'">
                      {{ad.paymentStatus}}
                    </span>
                  </td> -->
                  <td>{{ad.PromotionStatus}}</td>
                  <td class="text-center">
                    <button class="btn btn-raised btn-info" type="button" style="cursor:pointer;"
                      (click)="confirmRequest(ad._id)">
                      <em class="fa fa-check"></em>
                    </button>
                  </td>
              <td class="text-center">
                <button class="btn btn-raised btn-danger" type="button" style="cursor:pointer;"
                  (click)="rejectRequest(ad._id)">
                  <em class="fa fa-times"></em>
                </button>
              </td>
              <td>
                <div>
                  <button class="btn btn-raised btn-danger" type="button" (click)="delete(ad._id)">
                    <em class="fa fa-trash"></em>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
<router-outlet ></router-outlet>
<!-- <h1>Banner Home Works </h1>
<button (click) = "onViewBanner()"> View</button>
<button (click) = "onEditBanner()"> Edit</button>
<button (click) = "onDeleteBanner()"> Delete</button> -->
